.contest__header{
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-color: #112030;
  background-position: center center;
  background-repeat: no-repeat;

  text-align: center;
}

.contest__title{
  margin: 0;
  @include Title-light($white);
  font-size: 24px;
}

.contest__slogan{
  display: block;
  background-color: $white;
  @include Sans-regular;
  color: $ebony-clay;
}

@media (min-width: $tablet-width){
  .contest__header {
    background-image: url("../img/bg-back-tablet@1x.jpg");
  }
  .contest__title {
    font-size: 50px;
  }
  .contest__slogan{
    font-size: 18px;
  }
}

@media (min-width: $desktop-width){
  .contest__header {
    background-image: url("../img/bg-back-desktop@1x.jpg");
  }
  .contest__title {
    font-size: 50px;
  }
  .contest__slogan{
    font-size: 18px;
  }
}
