.contest__header {
  text-align: center;
}

.contest__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 280px;
  max-width: 1200px;
  margin: 0 auto;
}

.contest__form-info {
  display: none;

  font-size: 14px;
  line-height: 30px;
  color: $ebony-clay;
}

.contest__title {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding-top: 28px;
  padding-right: 30px;
  padding-bottom: 43px;
  padding-left: 30px;

  font-weight: 300;
  font-size: 24px;
  line-height: normal;
  color: $white;

  background-color: #112030;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 320px auto;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: cover;
  }
}

.contest__slogan {
  display: block;
  width: 280px;
  margin: 0 auto;
  padding-top: 44px;

  font-weight: 400;
  color: $ebony-clay;

  background-color: $white;
}

.contest__information legend {
  padding-right: 12px;
  padding-left: 12px;

  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: $cerise-red;
  text-transform: uppercase;

  transform: translateY(55px);
}

.contest__information {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 10px;
  padding: 0 22px;
  padding-top: 95px;

  font-size: 18px;
  color: $ebony-clay;

  border: none;

  &--achievements {
    order: 2;
  }

  &--app {
    order: 4;
  }

  &--about-user {
    order: 1;
    padding-top: 35px;
  }

  &--contact-user {
    order: 3;
    padding-top: 20px;
  }

  &--text {
    order: 5;
    width: 100%;
    padding-top: 44px;

    legend {
      transform: translateY(28px);
    }
  }

  input[type="checkbox"],
  input[type="radio"] {
    display: none;
  }

  input[type="radio"] + label {
    position: relative;

    display: flex;
    align-items: center;
    margin-bottom: 39px;
  }

  input[type="radio"] + label::before {
    content: "";

    display: block;
    width: 37px;
    height: 37px;
    margin-right: 31px;

    background-color: $white;
    border: solid 2px $mercury;
    border-radius: 50%;
  }

  input[type="radio"] + label::after {
    content: "";
    position: absolute;
    left: 11px;

    display: none;
    width: 15px;
    height: 15px;

    background-color: $cerise-red;
    border-radius: 50%;
  }

  input[type="radio"]:not(:checked) + label:hover::before {
    border-color: $ebony-clay;
  }

  input[type="radio"]:not(:checked) + label:active::before {
    border-color: $cerise-red;
  }

  input[type="radio"]:not(:checked) + label:active::after {
    display: block;
  }

  input[type="radio"]:checked + label::after {
    display: block;
  }

  input[type="checkbox"]:not(:checked) ~ .contest__checkbox-check {
    display: none;
  }

  input[type="checkbox"]:checked ~ .contest__checkbox-check {
    display: block;
  }

  input[type="checkbox"] ~ .contest__checkbox-check {
    position: absolute;
    left: 6px;
  }

  input[type="checkbox"] + label {
    position: relative;

    display: flex;
    align-items: center;
  }

  input[type="checkbox"] + label::before {
    content: "";

    display: block;
    width: 35px;
    height: 35px;
    margin-right: 32px;

    background-color: $white;
    border: solid 2px $mercury;
    border-radius: 3px;
  }

  input[type="checkbox"] + label:hover::before {
    border-color: $ebony-clay;
  }

  input[type="checkbox"] + label:active::before {
    border-color: $cerise-red;
  }

  &--contact-user legend {
    display: none;
  }

  &--about-user,
  &--contact-user {
    .contest__information-block {
      margin-bottom: 16px;
    }

    label {
      padding-left: 20px;

      font-size: 14px;
      color: $cerise-red;
      text-transform: uppercase;
    }

    input {
      width: 100%;
      margin-top: 6px;
      padding-top: 14px;
      padding-right: 18px;
      padding-bottom: 12px;
      padding-left: 20px;

      font-size: 18px;
      line-height: 30px;
      color: $ebony-clay;

      border: solid 2px $mercury;
      border-radius: 3px;
    }

    input:hover {
      border-color: $ebony-clay;
    }

    input:active,
    input:focus {
      border-color: $cerise-red;
      outline: none;
    }

    input::placeholder {
      color: $ebony-clay;
    }
  }
}

.contest__information:nth-of-type(even) {
  background-color: $concrete;
}

.contest__information-achievements-block {
  display: flex;
  flex-direction: column;
}

.contest__information-achievements-list {
  @include List-reset;
}

.contest__information-achievements-list li {
  position: relative;

  display: flex;
  align-items: center;
  margin-bottom: 47px;
}

.contest__information textarea {
  width: 100%;
  min-height: 197px;
  padding-top: 13px;
  padding-left: 19px;

  font-size: 18px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: $ebony-clay;

  border: solid 2px $mercury;
}

.contest__information textarea:hover {
  border-color: $ebony-clay;
}

.contest__information textarea:active,
.contest__information textarea:focus {
  border-color: $cerise-red;
  outline: none;
}

.contest__information textarea::placeholder {
  color: $ebony-clay;
}

.contest__legend {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: $ebony-clay;
  text-transform: uppercase;
}

.contest__legend span {
  display: none;
}

.contest__submit-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  order: 6;
  width: 280px;
  margin: 0 auto;
  padding-bottom: 17px;
}

.contest__legend sup {
  color: $cerise-red;
}

.contest__button-submit {
  width: 280px;
  margin: 0 auto;
  margin-top: 42px;
  margin-bottom: 40px;
  padding-top: 12px;
  padding-bottom: 14px;

  font-weight: 800;
  font-size: 18px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: $white;
  text-transform: uppercase;

  background-color: #2aab6d;
  border: solid 2px #2aab6d;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    background-color: #1c9b5e;
    border: solid 2px #1c9b5e;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: #e5e5e5;
    border: solid 2px #e5e5e5;
    cursor: default;
  }
}

@media (min-width: $tablet-width) {
  .contest__title {
    padding-top: 59px;
    padding-bottom: 66px;

    font-size: 50px;

    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-size: 1200px auto;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }

  .contest__slogan {
    width: 500px;
    padding-top: 93px;
    padding-bottom: 0;

    font-size: 18px;
  }

  .contest__form {
    padding: 0 22px;
  }

  .contest__form-info {
    display: block;
    margin: 0;

    font-size: 18px;
  }

  .contest__form .contest__information {
    order: unset;
  }

  .contest__information:not(:first-of-type) {
    margin-right: 22px;
    margin-left: 22px;

    border: solid 2px $mercury;
  }

  .contest__information:nth-of-type(even) {
    background-color: $white;
  }

  .contest__information input[type="radio"] + label::before,
  .contest__information input[type="checkbox"] + label::before {
    margin-right: 20px;
  }

  .contest__information {
    width: 100%;
    margin: 0;
    margin-bottom: 55px;
    padding: 0;
    padding-top: 42px;
    padding-right: 57px;
    padding-bottom: 16px;
    padding-left: 57px;

    &--contact-user legend {
      display: block;
    }

    legend {
      padding-top: 0;
      padding-right: 25px;
      padding-left: 25px;

      transform: translateY(0);
    }

    &--about-user {
      margin-bottom: 9px;
      padding-top: 65px;
      padding-right: 0;
      padding-bottom: 0;
      padding-left: 0;

      .contest__information-block {
        display: flex;
        align-items: center;
        margin-bottom: 50px;
      }

      label {
        margin-right: 15px;
        padding-left: 0;
      }
    }

    &--achievements {
      padding-top: 47px;
      padding-bottom: 5px;
    }

    &--text {
      padding-bottom: 0;
    }

    &--app {
      order: 2;
    }

    &--contact-user {
      padding-top: 35px;
      padding-bottom: 3px;

      .contest__information-block {
        position: relative;

        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 25px;
      }

      label {
        margin-top: 10px;
      }

      .contest__information-block::after {
        content: "";
        position: absolute;
        top: 6px;
        right: 0;

        display: block;
        width: 60px;
        height: 60px;

        background-color: $mercury;
        background-repeat: no-repeat;
        background-position: center center;
        border: solid 2px $mercury;
        border-left: none;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }

      .contest__user-tel::after {
        background-image: url("../img/icon-phone.svg");
        background-size: 20px 19px;
      }

      .contest__user-email::after {
        background-image: url("../img/icon-mail.svg");
        background-size: 18px 13px;
      }
    }
  }

  .contest__legend {
    line-height: 30px;
  }

  .contest__information textarea {
    width: 496px;
    min-height: 189px;
    margin: 0 auto;
    margin-bottom: 53px;
  }

  .contest__submit-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 50px;
  }

  .contest__button-submit {
    width: 296px;
    margin: 0;
    margin-top: 12px;
  }
}

@media (min-width: $desktop-width) {
  .contest__form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 960px;
    padding-top: 72px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .contest__information {
    margin-bottom: 0;

    .contest__information-block:last-of-type {
      margin-bottom: 0;
    }

    &--about-user {
      padding: 0;
    }

    &--contact-user {
      padding-top: 25px;
      padding-bottom: 13px;
    }

    &--text {
      padding-bottom: 0;
    }

    &--app {
      margin-bottom: 60px;
      padding-left: 0;

      label {
        margin-left: 80px;
      }

      legend {
        padding-right: 20px;
        padding-left: 20px;
      }
    }
  }

  .contest__information:not(:first-of-type) {
    margin-right: 0;
    margin-left: 0;
  }

  .contest__information:not(:nth-of-type(2)) {
    margin-bottom: 60px;
  }

  .contest__form-info {
    display: inline;
  }

  .contest__information-achievements-block {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .contest__information-achievements-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .contest__information-achievements-list li {
    max-width: 260px;
    margin-right: 0;
  }

  .contest__information-achievements-list li:first-of-type {
    order: 1;
  }

  .contest__information-achievements-list li:nth-of-type(5) {
    order: 3;
  }

  .contest__information-achievements-list li:nth-of-type(3) {
    order: 2;
  }

  .contest__information-achievements-list li:nth-of-type(2) {
    order: 4;
  }

  .contest__information-achievements-list li:nth-of-type(4) {
    order: 5;
  }

  .contest__information-achievements-list li:nth-of-type(6) {
    order: 6;
  }

  .contest__information-contact-block {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .contest__information-block {
      width: 375px;
      margin-bottom: 0;
    }
  }

  .contest__information:nth-of-type(1),
  .contest__information:nth-of-type(2) {
    width: 440px;
  }

  .contest__title {
    padding-top: 178px;
    padding-right: 70px;
    padding-bottom: 80px;
    padding-left: 70px;

    font-size: 50px;

    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-size: 2560px auto;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }

  .contest__information textarea {
    width: 100%;
    min-height: 124px;
    margin-bottom: 40px;
  }

  .contest__slogan {
    width: 756px;
    padding-top: 93px;

    font-size: 18px;
  }

  .contest__legend span {
    display: inline;
  }

  .contest__button-submit {
    margin-top: 7px;
  }

  .contest__submit-block {
    margin-bottom: 13px;
    padding-bottom: 0;
  }
}
