.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 155px;
  padding-right: 10px;
  padding-left: 10px;
}

.copyright__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $ebony-clay;
}

.copyright__link {
  display: flex;
  width: 27px;
  height: 34px;

  font-size: 0;

  &:hover {
    svg {
      fill: $ebony-clay;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .copyright {
    padding-top: 20px;
    padding-right: 0;
    padding-left: 25px;
  }
}

@media (min-width: $desktop-width) {
  .copyright__text {
    font-size: 18px;
  }

  .copyright {
    padding-top: 8px;
    padding-right: 0;
    padding-left: 0;
  }
}
