.download {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  background-color: $mirage;
}

.download__button {
  width: 280px;

  &:hover {
    color: $cerise-red;

    background-color: $white;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .download {
    width: 300px;

    background-color: transparent;
  }

  .download__button {
    width: 300px;
  }
}

@media (min-width: $desktop-width) {
  .download {
    width: 300px;

    background-color: transparent;
  }

  .download__button {
    width: 300px;
  }
}
