.intro {
  text-align: center;
  color: $white;

  background-color: #112030;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center center;
}

.intro__slogan {
  font-weight: 300;
  line-height: normal;
}

@media (min-width: $tablet-width) {
  .intro {
    background-image: url("../img/bg-back-tablet@1x.jpg");
  }

  .intro__slogan {
    font-size: 40px;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    background-image: url("../img/bg-back-desktop@1x.jpg");
  }

  .intro__slogan {
    font-size: 50px;
  }
}
