.nav-list__item {
  padding: 20px 0;

  text-align: center;

  background-color: $ebony-clay;
  box-shadow: 0 1px 0 0 #000000, inset 0 1px 0 0 rgba(255, 255, 255, 0.15);
}

.nav-list__item a {
  display: block;

  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: $white;
  text-transform: uppercase;

  &:hover {
    color: $cerise-red;
  }

  &:active {
    color: rgba($color: #d22856, $alpha: 0.3);
  }
}

@media (min-width: $desktop-width) {
  .nav-list__item {
    background-color: transparent;
    box-shadow: none;

    &--active {
      a {
        border-bottom: solid 2px $white;
      }
    }
  }

  .nav-list__item a {
    font-weight: 400;
    text-transform: none;

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }
}
