.plans {
  background-color: $concrete;
}

.plans__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
  overflow: hidden;
  padding-bottom: 47px;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
}

.plans__table {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  margin-bottom: 39px;
}

.plans__header {
  display: flex;
  flex-direction: column;
}

.plans__header tr {
  display: flex;
}

.plans__legend,
.plans__comparison-feature {
  display: none;
}

.plans__list th {
  width: 276px;

  color: $white;
  text-transform: uppercase;
}

.plans__comparison-list td {
  width: 276px;
}

.plans__list th:not(.plans__legend) {
  display: flex;
  flex-direction: column;
  padding-top: 17px;
  padding-bottom: 16px;
  background-color: $ebony-clay;
}

.plans__list th:not(.plans__legend):not(.plans__popular) {
  border: solid 2px $ebony-clay;
}

.plans__popular {
  position: relative;

  border-right: solid 2px $mercury;
  border-left: solid 2px $mercury;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    width: 74px;
    height: 73px;

    background-image: url("../img/bg-hit.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }

  &::after {
    content: "Хит";
    position: absolute;
    top: 18px;
    left: 8px;

    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;

    transform: rotateZ(-45deg);
  }
}

.plans__name {
  font-size: 18px;
}

.plans__price {
  font-weight: 300;
  font-size: 24px;
}

.plans__comparison-item {
  display: flex;
}

.plans__comparison-item td:not(.plans__comparison-feature) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 19px;

  color: $ebony-clay;
  text-transform: uppercase;

  background-color: $white;
  border: solid 1px $mercury;
}

.plans__availability {
  display: block;

  font-size: 0;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;

  &--available {
    width: 31px;
    height: 21px;

    background-image: url("../img/icon-yes.svg");
  }

  &--not-available {
    width: 27px;
    height: 26px;

    background-image: url("../img/icon-no.svg");
  }
}

@media (min-width: $tablet-width) {
  .plans__table {
    margin-bottom: 20px;
  }

  .plans__wrapper {
    padding-top: 54px;
  }

  .plans__list th {
    width: 154px;
  }

  .plans__popular {
    &::before {
      width: 61px;
      height: 61px;

      background-image: url("../img/bg-hit-tablet.svg");
    }

    &::after {
      top: 10px;
      left: 5px;
    }
  }

  .plans__list th:not(.plans__legend) {
    padding: 10px 0;
    padding-bottom: 5px;
  }

  .plans__list th:nth-of-type(2) {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  .plans__list th:last-of-type {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .plans__comparison-item td {
    width: 154px;
    padding-top: 5px;
    padding-bottom: 10px;

    text-transform: none;
  }

  .plans__comparison-feature,
  .plans__legend {
    display: flex;
  }

  .plans__comparison-feature {
    padding-left: 15px;

    background-color: $white;
    border: solid 1px $mercury;
  }

  .plans__comparison-item td:not(.plans__comparison-feature) {
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .plans__name {
    font-size: 16px;
  }

  .plans__price {
    font-size: 18px;
  }

  .plans__feature-name {
    display: none;
  }

  .plans__toggles {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .plans__table {
    margin-top: 101px;
    margin-bottom: 49px;
  }

  .plans__list th {
    width: 234px;
  }

  .plans__popular {
    &::before {
      width: 74px;
      height: 73px;

      background-image: url("../img/bg-hit.svg");
    }

    &::after {
      top: 17px;
      left: 9px;
    }
  }

  .plans__list th:not(.plans__legend) {
    padding-top: 15px;
    padding-bottom: 19px;
  }

  .plans__list th:nth-of-type(2) {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  .plans__list th:last-of-type {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .plans__comparison-item td {
    width: 234px;
    padding-top: 14px;
    padding-bottom: 15px;

    font-size: 18px;
  }

  .plans__name {
    font-size: 18px;
  }

  .plans__price {
    font-size: 24px;
  }

  .plans__toggles {
    display: none;
  }
}
