.plans {
  background-color: $concrete;
}

.plans__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
  overflow: hidden;

  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
}

.plans__table {
  width: 620px;

  table-layout: fixed;
}

.plans__legend,
.plans__comparison-feature {
  display: none;
}

.plans__list th {
  color: $white;
  text-transform: uppercase;
}

.plans__list th:not(.plans__legend) {
  background-color: $ebony-clay;
  border: solid 2px $ebony-clay;
}

.plans__name {
  display: block;

  font-size: 18px;
}

.plans__price {
  font-weight: 300;
  font-size: 24px;
}

.plans__comparison-item td {
  color: $ebony-clay;
  text-transform: uppercase;

  background-color: $white;
  border: solid 2px $mercury;
}

@media (min-width: $tablet-width) {
  .plans__table {
    table-layout: auto;
  }

  .plans__legend,
  .plans__comparison-feature {
    display: table-cell;
  }

  .plans__name {
    font-size: 16px;
  }

  .plans__price {
    font-size: 18px;
  }

  .plans__feature-name {
    display: none;
  }

  .plans__comparison-item td {
    text-transform: none;
  }

  .plans__toggles {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .plans__table {
    table-layout: auto;
  }

  .plans__legend,
  .plans__comparison-feature {
    display: table-cell;
  }

  .plans__name {
    font-size: 18px;
  }

  .plans__price {
    font-size: 24px;
  }

  .plans__comparison-item td {
    font-size: 18px;
  }

  .plans__toggles {
    display: none;
  }
}
