.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;

  display: none;
  flex-direction: column;
  align-items: center;
  width: 320px;
  margin: 0 auto;

  text-align: center;

  background-color: $white;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
  transform: translateX(-50%) translateY(-50%);

  .popup__button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 54px;

    background-color: $concrete;
  }

  &--error {
    .popup__button-wrapper {
      padding-top: 15px;

      background-color: $white;
    }
  }

  &--opened {
    display: flex;
  }
}

.popup__wrapper {
  padding-top: 42px;
  padding-right: 22px;
  padding-left: 22px;
}

.popup__title {
  font-size: 18px;
  line-height: 24px;
}

.popup__text {
  font-size: 14px;
  line-height: 24px;
  color: $ebony-clay;
}

.popup__button {
  display: flex;
  justify-content: center;
  min-width: 280px;
  max-width: 320px;
  padding-top: 12px;
  padding-bottom: 14px;

  font-weight: 800;
  font-size: 18px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #2aab6d;
  border: solid 2px #2aab6d;
  border-radius: 3px;

  &:hover {
    background-color: #1c9b5e;
    border: solid 2px #1c9b5e;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: #e5e5e5;
    border: solid 2px #e5e5e5;
    cursor: default;
  }
}

@media (min-width: $tablet-width) {
  .popup {
    width: 460px;
  }

  .popup__wrapper {
    width: 300px;
    padding: 0;
    padding-top: 43px;
  }

  .popup__title {
    display: block;
    width: 220px;
    margin: 0 auto;

    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
  }

  .popup__text {
    margin-bottom: 25px;

    font-size: 18px;
    line-height: 24px;
  }

  .popup__button {
    min-width: 300px;
  }
}

@media (min-width: $desktop-width) {
  .popup__wrapper {
    width: 350px;
    padding: 0;
    padding-top: 43px;
  }

  .popup {
    width: 780px;

    &--error {
      .popup__button-wrapper {
        padding-top: 50px;
        padding-bottom: 54px;

        background-color: $concrete;
      }

      .popup__text {
        margin-bottom: 60px;
      }
    }

    &--success {
      .popup__button {
        min-width: 460px;
      }

      .popup__wrapper {
        width: 400px;
      }

      .popup__text {
        margin-bottom: 40px;
      }
    }
  }

  .popup__title {
    display: block;
    width: 100%;
    margin: 0 auto;

    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
  }

  .popup__button {
    min-width: 300px;
  }
}
