.reviews {
  margin-bottom: 37px;
}

.reviews__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews__list {
  position: relative;
  margin-bottom: 20px;
}

.reviews__item {
  display: none;
  text-align: center;
  margin: 0 auto;
  margin-top: 40px;

  &--active {
    display: flex;
    width: 280px;
    flex-direction: column;
  }
}

.reviews__author-name {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}

.reviews__author-about {
  display: none;

  color: $ebony-clay;
}

.reviews__text {
  color: $ebony-clay;
}

.reviews__slider-button {
  display: none;
}

@media (min-width: $tablet-width) {
  .reviews__item {
    &--active {
      width: 620px;
    }
  }

  .reviews {
    margin-bottom: 20px;
  }

  .reviews__list {
    margin-bottom: 36px;
  }

  .reviews__author-name {
    order: 2;

    font-size: 20px;
  }

  .reviews__author-about {
    display: inline;
    order: 3;
  }

  .reviews__text {
    order: 1;
    margin-bottom: 36px;
    font-size: 18px;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    margin-bottom: 0;
  }

  .reviews__wrapper {
    padding: 0 10px;
  }

  .reviews__item {
    &--active {
      width: 940px;
    }
  }

  .reviews__item {
    margin-top: 31px;
    padding-left: 90px;
    padding-right: 90px;
  }

  .reviews__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .reviews__list::before {
    display: block;
    content: "";
    width: 79px;
    height: 65px;
    background-image: url("../img/icon-quotes.svg");
    background-repeat: no-repeat;
  }

  .reviews__author-name {
    font-size: 24px;
  }

  .reviews__author-about {
    display: inline;

    font-size: 18px;
  }

  .reviews__text {
    font-size: 18px;
  }

  .reviews__slider-button {
    position: absolute;
    top: 47.4%;

    display: block;
    width: 22px;
    height: 41px;
    margin: 0;
    padding: 0;

    font-size: 0;

    background-color: transparent;
    background-repeat: no-repeat;
    border: none;

    opacity: 0.3;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.1;
    }

    &--prev {
      left: -9px;

      background-image: url("../img/icon-review-arrow-left.svg");
    }

    &--next {
      right: -9px;

      background-image: url("../img/icon-review-arrow-right.svg");
    }
  }

  .reviews__toggles {
    display: none;
  }
}
