.reviews__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews__item {
  display: none;

  text-align: center;

  &--active {
    display: flex;
    flex-direction: column;
  }
}

.reviews__author-name {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}

.reviews__author-about {
  display: none;

  color: $ebony-clay;
}

.reviews__text {
  color: $ebony-clay;
}

.reviews__prev,
.reviews__next {
  display: none;
}

@media (min-width: $tablet-width) {
  .reviews__author-name {
    order: 2;

    font-size: 20px;
  }

  .reviews__author-about {
    display: inline;
    order: 3;
  }

  .reviews__text {
    order: 1;

    font-size: 18px;
  }
}

@media (min-width: $desktop-width) {
  .reviews__wrapper {
    padding: 0 10px;
  }

  .reviews__author-name {
    font-size: 24px;
  }

  .reviews__author-about {
    display: inline;

    font-size: 18px;
  }

  .reviews__text {
    font-size: 18px;
  }

  .reviews__prev,
  .reviews__next {
    display: block;
  }

  .reviews__toggles {
    display: none;
  }
}
