.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 177px;

  @include List-reset;
  margin-bottom: 41px;
}

.social__link {
  display: block;
  width: 47px;
  height: 47px;

  font-size: 0;

  background-repeat: no-repeat;
  background-position: center center;
  border: solid 3px rgba($color: #283645, $alpha: 0.1);
  border-radius: 50%;

  &:hover {
    border: solid 3px rgba($color: #283645, $alpha: 1);
  }

  &:active {
    border: solid 3px rgba($color: #283645, $alpha: 0.4);
    opacity: 0.3;
  }

  &--twitter {
    background-image: url("../img/icon-twitter.svg");
    background-size: 19px 15px;
  }

  &--facebook {
    background-image: url("../img/icon-facebook.svg");
    background-size: 9px 19px;
  }

  &--youtube {
    background-image: url("../img/icon-youtube.svg");
    background-size: 15px 14px;
  }
}

@media (min-width: $tablet-width) {
  .social {
    margin-top: 20px;
    margin-bottom: 0;
  }
}
