#TEST {
  display: none;
}

.upload {
  width: 100%;
}

.upload__wrapper {
  width: 100%;
  background-color: $concrete;
}

.upload__wrapper .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload__header {
  width: 100%;
}

.upload__slogan {
  display: block;
  width: 280px;
  margin: 0 auto;
  padding: 0 13px;
  padding-top: 25px;
  padding-bottom: 40px;

  font-weight: 400;
  text-align: center;
  color: $ebony-clay;

  background-color: $white;
}

.upload__image {
  width: 100%;
}

.upload__form {
  margin: 0 auto;
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload__filter-wrapper {
  padding-top: 20px;
  position: relative;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 2px;
}

.upload__container {
  position: relative;
  align-items: center;
  display: flex;
  width: 240px;
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 40px;
  padding-bottom: 80px;
  padding-top: 20px;
  border-bottom: solid 1px $mercury;
}

.upload__filter-block {
}

.upload__filter {
  display: flex;
  padding: 0;

  font-size: 0;

  background: transparent;
  border: none;
  opacity: 0.3;

  fill: $ebony-clay;

  &:hover {
    opacity: 0.5;
  }

  &--active {
    opacity: 1;

    fill: $cerise-red;
  }

  &--active:hover {
    opacity: 1;
  }

  &--crop {
    svg {
      width: 44px;
      height: 44px;
    }
  }

  &--fill {
    svg {
      width: 48px;
      height: 43px;
    }
  }

  &--contrast {
    svg {
      width: 32px;
      height: 32px;
    }
  }
}

.upload__scale {
  display: none;
  width: 240px;
}

.upload__filter--active + .upload__scale {
  position: absolute;
  bottom: 35px;
  display: block;
}

.upload__bar {
  height: 2px;

  background-color: #131111;
}

.upload__toggle {
  position: absolute;
  bottom: -6px;

  width: 15px;
  height: 15px;

  background-color: $concrete;
  border: solid 2px $cerise-red;
  border-radius: 50%;
  cursor: pointer;

  &--active {
    background-color: $cerise-red;
  }

  &--crop {
    left: 80%;
  }

  &--fill {
    left: 15%;
  }

  &--contrast {
    left: 45%;
  }
}

.upload__button-submit {
  color: $cerise-red;
  width: 280px;
  border-color: $cerise-red;
  margin: 0 auto;
  margin-bottom: 12px;
  &:hover {
    color: $white;

    background-color: $cerise-red;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: $cerise-red;
  }
}

.upload__button-reset {
  width: 280px;
  color: rgba(40, 54, 69, 0.1);
  margin: 0 auto;
  margin-bottom: 41px;
  border-color: rgba($color: #283645, $alpha: 0.1);

  &:hover {
    color: rgba(40, 54, 69, 0.3);

    border-color: rgba($color: #283645, $alpha: 0.3);
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: rgba($color: #283645, $alpha: 0.3);
    border-color: transparent;
  }
}

@media (min-width: $tablet-width) {
  .upload__container {
    position: relative;
    display: flex;
    width: 275px;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-top: 0;
  }

  .upload__slogan {
    width: 440px;
    padding: 0;
    padding-top: 45px;
    padding-bottom: 69px;
    font-size: 18px;
  }

  .upload__form {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

  .upload__filter-wrapper {
    width: 620px;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 0;
    justify-content: space-between;
    padding-top: 57px;
    padding-bottom: 44px;
  }

  .upload__image {
    margin-right: 19px;
    width: 300px;
    height: 400px;
  }

  .upload__filter-block {
    position: relative;
    display: flex;
    width: 275px;
    align-items: center;
    margin-top: 0;
    margin-bottom: 17px;
    padding-left: 8px;
    padding-right: 13px;
    padding-top: 7px;
    padding-bottom: 24px;
    border-bottom: solid 1px $mercury;
  }

  .upload__filter {
    width: 25px;
    height: 25px;
    margin-right: 29px;
    opacity: 1;

    &:hover {
      svg {
        fill: $ebony-clay;
      }
    }

    &--active:hover {
      svg {
        fill: $cerise-red;
      }
    }

    svg {
      fill: $cerise-red;
    }

    &--crop {
      svg {
        width: 22px;
        height: 22px;
      }
    }

    &--fill {
      svg {
        width: 24px;
        height: 22px;
      }
    }

    &--contrast {
      svg {
        width: 16px;
        height: 16px;
      }

      path {
        fill: $cerise-red;
      }
    }

    &--contrast:hover {
      path {
        fill: $ebony-clay;
      }
    }
  }

  .upload__scale {
    position: relative;

    display: block;
    width: 202px;
  }

  .upload__filter--active ~ .upload__scale {
    position: relative;
    left: 0;
    bottom: 0;
}

  .upload__toggle {
    &--crop {
      left: 72%;
    }

    &--fill {
      left: 12%;
    }

    &--contrast {
      left: 47%;
    }

    &--active {
      background-color: $concrete;
    }

    &:active {
      background-color: $cerise-red;
    }
  }

  .upload__container-wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
  }

  .upload__button-container {
    margin-top: auto;
  }

  .upload__button-submit {
    width: 260px;
    margin-top: 0;
    margin-bottom: 25px;
  }

  .upload__button-reset {
    width: 260px;
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .upload {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }

  .upload__wrapper {
    width: 940px;
  }

  .upload__form {
    width: 800px;
  }

  .upload__filter-wrapper {
    width: 100%;
  }

  .upload__container-wrapper {
    margin-left: auto;
    width: 410px;
    display: flex;
    flex-direction: column;
  }

  .upload__container {
    width: 100%;
    padding: 0;
  }

  .upload__button-container {
    margin-top: auto;
    margin-bottom: 10px;
    padding: 0;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .upload__button-container button{
    margin: 0;
  }

  .upload__slogan {
    width: 580px;
    padding-top: 2px;
    padding-bottom: 66px;
    font-size: 18px;
  }


  .upload__filter-block {
    width: 100%;
    margin-bottom: 10px;
    padding-top: 0;
    padding-bottom: 10px;
  }

  .upload__filter {
    width: 50px;
    height: 50px;
    margin-right: 40px;

    &--crop {
      svg {
        width: 44px;
        height: 44px;
      }
    }

    &--fill {
      svg {
        width: 48px;
        height: 43px;
      }
    }

    &--contrast {
      svg {
        width: 32px;
        height: 32px;
      }
    }
  }

  .upload__scale {
    width: 288px;
  }

  .upload__toggle {
    &--crop {
      left: 25%;
    }

    &--fill {
      left: 85%;
    }

    &--contrast {
      left: 55%;
    }
  }

  .upload__form .button {
    width: 183px;
  }
}
