.users-publications {
  overflow: hidden;
}

.users-publications__header {
  text-align: center;
}

.users-publications__title {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding-top: 28px;
  padding-bottom: 76px;

  font-weight: 300;
  font-size: 24px;
  line-height: normal;
  color: $white;

  background-color: #112030;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 320px auto;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: cover;
  }
}

.users-publications__slogan {
  display: block;
  width: 280px;
  margin: 0 auto;
  padding: 0 15px;
  padding-top: 45px;
  padding-bottom: 49px;

  font-weight: 400;
  color: $ebony-clay;

  background-color: $white;
}

.users-publications__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  overflow: hidden;

  @include List-reset;
  margin: 0 auto;
}

.users-publications__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  margin-bottom: 20px;

  line-height: 24px;
  color: $ebony-clay;

  .users-publications__image {
    display: block;
  }

  &--hot {
    .users-publications__picture {
      position: relative;
    }

    .users-publications__picture::before {
      content: "Панорама дня";
      position: absolute;
      right: 20px;
      z-index: 1;

      display: flex;
      justify-content: center;
      align-items: center;
      width: 140px;
      height: 36px;

      font-weight: 800;
      font-size: 12px;
      line-height: 24px;
      color: $white;
      text-transform: uppercase;

      background: $cerise-red;
    }
  }

  blockquote {
    display: flex;
    flex-direction: column;
    width: 280px;
    margin: 0;
    padding-top: 19px;
    padding-right: 0;
    padding-bottom: 26px;
    padding-left: 17px;

    background-color: $concrete;
  }

  .users-publications__text {
    margin: 0;
    margin-bottom: 14px;
  }
}

.users-publications__item:first-of-type {
  width: 100%;
}

.users-publications__item:first-of-type .users-publications__image {
  width: 100%;
}

.users-publications__author-name {
  font-style: normal;
  font-weight: 700;
}

.users-publications__time {
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
}

.users-publications__likes-block {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  justify-self: flex-end;
}

.users-publications__likes {
  order: 2;

  font-size: 12px;
  line-height: 1;
  color: $cerise-red;
  text-transform: uppercase;
}

.users-publications__like-button {
  display: block;
  order: 1;
  width: 13px;
  height: 12px;
  margin: 0;
  margin-right: 19px;
  padding: 0;

  font-size: 0;

  background-color: transparent;
  background-image: url("../img/icon-heart.svg");
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: 13px 12px;
  border: none;
}

@media (min-width: $tablet-width) {
  .users-publications__title {
    padding-top: 60px;
    padding-bottom: 133px;

    font-size: 50px;

    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-size: 1200px auto;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }

  .users-publications__slogan {
    width: 440px;
    padding-top: 92px;
    padding-right: 0;
    padding-bottom: 76px;
    padding-left: 0;

    font-size: 18px;
  }

  .users-publications__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 660px;

    padding-left: 20px;
    padding-right: 20px;
  }

  .users-publications__item:first-of-type {
    width: 100%;
    margin-bottom: 50px;

    .users-publications__image {
      height: 509px;
    }
  }

  .users-publications__item:not(:first-of-type) {
    justify-content: space-between;
    min-height: 455px;

    background-color: $concrete;

    .users-publications__text {
      margin-bottom: 0;

      display: block;
      min-height: 48px;
    }

    .users-publications__likes-block {
      margin-top: 20px;
    }

    .users-publications__author-block {
      margin-top: 23px;
    }

    .users-publications__like-button {
      margin-left: auto;
    }
  }

  .users-publications__item {
    width: 300px;
    margin-bottom: 20px;

    &--hot {
      .users-publications__picture::before {
        top: 57px;

        font-size: 12px;
        line-height: 24px;
      }
    }
  }

  .users-publications__item blockquote {
    width: 100%;
    min-height: 155px;
    padding-top: 0;
    padding-right: 28px;
    padding-bottom: 27px;
    padding-left: 28px;
  }

  .users-publications__item:first-of-type blockquote {
    flex-direction: row;
    flex-wrap: wrap;
    width: 620px;
    min-height: auto;
    padding-top: 25px;
    padding-bottom: 9px;
  }

  .users-publications__item:first-of-type .users-publications__author-block {
    width: 50%;
  }

  .users-publications__item:first-of-type .users-publications__likes-block {
    justify-content: flex-end;
    order: 2;
    width: 50%;
  }

  .users-publications__item:first-of-type .users-publications__text {
    order: 3;
  }

  .users-publications__item:first-of-type .users-publications__likes {
    margin-right: 17px;
  }

  .users-publications__likes {
    order: 1;
  }

  .users-publications__like-button {
    order: 2;
    margin-right: 0;
  }
}

@media (min-width: $desktop-width) {
  .users-publications__title {
    padding-bottom: 110px;

    font-size: 50px;
    line-height: 53px;

    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-size: 2560px auto;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }

  .users-publications__slogan {
    width: 580px;
    padding-bottom: 87px;

    font-size: 18px;
  }

  .users-publications__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 960px;
    max-width: 1200px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .users-publications__item:not(.users-publications__item--hot) {
    margin-right: 20px;
  }

  .users-publications__item:not(.users-publications__item--hot):nth-of-type(2n+1) {
    margin-right: 20px;
  }

  .users-publications__item:not(.users-publications__item--hot):nth-of-type(3n+1) {
    margin-right: 0;
  }

  .users-publications__item:last-of-type {
    margin-right: 0;
  }

  .users-publications__item:first-of-type blockquote {
    position: relative;

    width: 940px;
    margin: 0 auto;
  }

  .users-publications__item {
    width: 300px;
    margin-bottom: 54px;

    &--hot {
      .users-publications__picture::before {
        top: 11%;
        right: 11%;
      }
    }
  }

  .users-publications__item:first-of-type .users-publications__likes-block {
    position: absolute;
    right: 32px;
  }
}
