.user-publications__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.users-publications__header {
  text-align: center;
}

.users-publications__title {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 100px 0;

  font-weight: 300;
  font-size: 24px;
  line-height: normal;
  color: $white;

  background-color: #112030;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center center;
}

.users-publications__slogan {
  display: block;
  width: 280px;
  margin: 0 auto;
  padding: 100px 0;

  font-weight: 400;
  color: $ebony-clay;

  background-color: $white;
}

.users-publications__list {
  display: flex;
  flex-direction: column;

  @include List-reset;
}

.users-publications__item {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin-bottom: 20px;

  line-height: 24px;
  color: $ebony-clay;

  background-color: $concrete;
}

.users-publications__author-name {
  font-style: normal;
  font-weight: 700;
}

.users-publications__time {
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
}

.users-publications__likes {
  font-size: 12px;
  color: $cerise-red;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .users-publications__title {
    font-size: 50px;

    background-image: url("../img/bg-back-tablet@1x.jpg");
  }

  .users-publications__slogan {
    width: 440px;

    font-size: 18px;
  }

  .users-publications__list {
    flex-direction: row;
    flex-wrap: wrap;
    width: 620px;
  }

  .users-publications__item:first-of-type {
    width: 620px;
    margin-bottom: 50px;
  }

  .users-publications__item {
    width: 300px;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .users-publications__item:nth-of-type(odd) {
    margin-right: 0;
  }
}

@media (min-width: $desktop-width) {
  .users-publications__title {
    font-size: 50px;

    background-image: url("../img/bg-back-desktop@1x.jpg");
  }

  .users-publications__slogan {
    width: 580px;

    font-size: 18px;
  }

  .users-publications__list {
    flex-direction: row;
    flex-wrap: wrap;
    width: 940px;
  }

  .users-publications__item:first-of-type {
    width: 940px;
  }

  .users-publications__item {
    width: 300px;
    margin-right: 20px;
    margin-bottom: 54px;
  }

  .users-publications__item:nth-of-type(odd) {
    margin-right: auto;
  }

  .users-publications__item:not(:first-of-type):nth-of-type(3n+1) {
    margin-right: 0;
  }
}
