html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;

  background-color: $white;

  img {
    max-width: 100%;
    height: auto;
  }

  a {
    text-decoration: none;
  }

  .visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;

    white-space: nowrap;

    border: 0;

    clip: rect(0 0 0 0);
    clip-path: inset(100%);
  }

  .fix-menu {
    padding-top: 95px;

    &--index {
      padding-top: 89px;
    }
  }

  @media (min-width: $tablet-width) {
    .fix-menu {
      padding-top: 170px;

      &--index {
        padding-top: 111px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    .fix-menu {
      padding-top: 178px;

      &--index {
        padding-top: 28px;
      }
    }
  }
}
