/*DEVICES SECTION*/
$desktop-width: 960px;
$tablet-width: 660px;
$phone-width: 320px;

/*COLORS SECTION*/
$white: #FFFFFF;
$black: #000000;
$ebony-clay: #283645;
$cerise-red: #D22856;
$concrete: #F2F2F2;
